# Dependencies
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# Build
/build
/dist
/out
/.next

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.swp
*.lock
.vercel

# Expo-specific
.expo
.expo-shared

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs_vista.db
